html,body{
    
    width: 100%;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
.imagem{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}

main{
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: white;

}
.inicio{
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    border-bottom: .2rem solid black;
    padding: 1rem;
    padding-left: 0rem;
    font-family: 'Lato', sans-serif;
}
.inicio h1{
    margin-left: 1.35rem;
}

.ranking{
    display: flex;
    flex-direction: column;
    justify-content: center
}
.ranking1{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    border: 0.2rem solid black;
    padding: 1rem 0rem;
    background-color: rgb(170, 230, 70);
    font-family: 'Lato', sans-serif;
    border-radius: .5rem;
    align-content: center;
    width:40%;
    align-self: center;
    justify-content: space-evenly;
}
.ranking2{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    border: 0.2rem solid black;
    padding: 1rem 0rem ;
    background-color: rgb(170, 230, 70);
    font-family: 'Lato', sans-serif;
    border-radius: .5rem;
    align-content: left;
    width:40%;
    align-self: center;
    justify-content: space-evenly;
    
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}
.estrelinhas{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

h2{
    font-family: 'Roboto', sans-serif;
    align-self: center;
    margin: 1rem;
    margin-top: 2.5rem;
    font-size: 2rem;
    
}

.comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.comentario1{
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem 0rem 1rem;
    border: 0.2rem solid black;
    padding: 1rem 0rem 1rem 1rem;
    background-color: white;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: .5rem;
    width:40%;
    align-self: center;
    justify-content: center;
}

.comentario2{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 0.2rem solid black;
    padding: 1rem 0rem 1rem 1rem;
    background-color: white;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: .5rem;
    width:40%;
    align-self: center;
    justify-content: space-evenly;
}
.comentario p{
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    align-self: left;
}
a{
    margin: 0rem 1rem;
    text-decoration: none;
    color: black;
}

footer{
    
    position: relative;
    
    padding:0.5rem;
    padding-left: 1rem;
    background-color: rgb(170,230,70);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    color: rgb(240,66,56);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    
}