/* NÃO ALTERAR */
html{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-self: flex-start;
    justify-content:flex-start;
}
main{
    
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 90%;
    align-self:flex-start;
    justify-content: flex-start;
    
}
.nameapp{
    
    font-size:10rem;
    text-align: center;
    background-color: black;
    color: orangered;
    padding: 0.5rem;
    
     
}

.supermercado{
    width: 50%;
    font-size:6rem;
    text-align: center;
    color: orangered;
    margin: 2rem;
    padding: 2rem;
    border: 2rem solid black; 
    

}
.maps{
    width: 15%;
    height: 30%;
    text-align: right;
    margin: 1rem 3rem;
    border: 1rem solid whitesmoke; 
}
.stars{
    width: 15%;
    height: 20%;
    text-align:end;
    margin: 1rem;
    border: 1rem;
}
img{
    width: 100%;
    height: 100%;
}
.avaliacao{
    font-size:4rem;
    width: 20%;
    text-align: left;
    margin: 0rem;
    padding: 1rem 0rem;
    background-color: orangered;
    color: black; 
}
.categoria{
    width: 50%;
    font-size:4rem;
    text-align: center;
    padding: 1rem;
    border: 0.3rem solid orangered;
    background-color: azure;
    color:black; 
}
.produto{
    width: 50%;
    font-size:4rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 0.3rem dotted black;
    background-color: orangered;
    color: white; 
}
.pontos{
    width: 50%;
    font-size:4rem;
    text-align: center;
    margin: 1rem 0rem ;
    padding: 1rem;
    border: 1rem;
    color: orangered; 
}
.money{
    font-size:4rem;
    width: 50%;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    border: 0.3rem dotted black;
    background-color: orangered;
    color: white; 
}
/*.coluna {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
*/
.linha {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    height: 100%;
    width: 100%;
}
/* NÃO ALTERAR */