/* NÃO ALTERAR */
main{
    justify-content: center;
}
.nameapp{
    font-size:2rem;
    text-align: center;
    background-color: black;
    color: rgb(170,230,70);
    margin: 10px;
    padding: 10px;
    border: 10px; 
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 1.5rem;
    margin:0.5rem;
    font-family: 'Lato', sans-serif;
}
.stars{
    width: 80%;
    font-size:1rem;
    margin: -0.1rem 1rem 1rem;
    padding: 0.6rem;
    border-width: 0rem 0.2rem 0.2rem;
    border-color: black;
    background-color: rgb(170,230,70);
    border-style: solid; 
    border-radius: 0rem 0rem 0.5rem 0.5rem;
    font-family: 'Lato', sans-serif;
}
.produto{
    width: 80%;
    font-size:1.5rem;
    margin: 1rem 1rem -0.1rem;
    padding: 0.6rem;
    border-width: 0.2rem 0.2rem 0rem;
    border-color: black;
    border-style: solid; 
    border-radius: .5rem 0.5rem 0rem 0rem;
    background-color: rgb(170,230,70);
    color:black;
    font-family: 'Lato', sans-serif; 
}

footer{
    background-color: rgb(170,230,70);
    height: 2rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    color: rgb(240,66,56);
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    
    
}
.coluna {
    display: flex;
    
    flex-direction: column;
    justify-content: left;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

/* NÃO ALTERAR */