/* NÃO ALTERAR */
.nameapp{
    font-size:4em;
    text-align: center;
    background-color: black;
    color: orangered;
    margin: 10px;
    padding: 10px;
    border: 10px; 
}
h2{
    font-size: 5em;
}
.stars{
    width: 80%;
    font-size:3em;
    margin: 0 10px 10px;
    padding: 10px;
    border-width: 0px 3px 3px;
    border-color: orangered;
    background-color: azure;
    border-style: solid; 
    border-radius: .5rem;
}
.produto{
    width: 80%;
    font-size:3em;
    margin: 10px 10px 0;
    padding: 10px;
    border-width: 3px 3px 0;
    border-color: orangered;
    border-style: solid; 
    border-radius: .5rem;
    background-color: azure;
    color:black; 
}
.coluna {
    display: flex;
    
    flex-direction: column;
    justify-content: left;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* NÃO ALTERAR */