html {
    font-size: 16px;
}
body {
    background-color: white;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
img{
    position:absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}
a{
    font-size: 2rem;
    text-decoration: none;
}
/* img{
    position: absolute;
    width: 3rem;
    height: 3rem;
    right: 0.55rem;
    top: 1rem;
} */
.img1 {
    top: 0;
    left: 0.5rem;
}
.img2{
    top: -0.7rem;
    right: 1rem;
}
.descricao{
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    margin: 1rem;
    width: 100%;
    border-bottom: .1rem solid black;
    font-family: 'Lato', sans-serif;
}
.pacotes{
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    align-items: center;
}
p{
    font-size: 1rem;
}
.pacote{
    display:block;
    position: relative;
    margin: 1rem;
    border: .2rem solid black;
    padding: 1rem;
    font-size: 2rem;
    /* text-decoration: none; */
    border-radius: .5rem;
    width: 35%;
    font-family: 'Lato', sans-serif;
    background-color: rgb(170, 230, 70);
}
