html, main {
    height: 100%;
    width: 100%;
}

html,body{
    height: 100%;
    width: 100%;
}


header{
    position: relative;
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;

}
.imagem{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}

main{
    
    display: flex;
    flex-direction:column;
    height: auto;
    width: auto;
    padding: 1rem;
    align-items: center;


}
.principal{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 40%;
    background-color:rgb(170, 230, 70);
    border-radius: 1rem;
    border: 0.2rem solid black;
}
.perfil{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items:center;
    font-family: 'Roboto', sans-serif;
    font-size: 180%;
    margin: 1%;
}

.foto{
    
    width: 6rem;
    height:6rem;
    margin: 1rem;
    border-radius: 0rem;
    
}

.abas{

    display: flex;
    padding: 1rem;
    margin: 1rem;
    flex-direction: column;
    align-items:center;
    align-self: center;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;

}

a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;
    align-self: center;
    padding: 0.5rem;
}
