html {
    font-size: 16px;
}
body {
    background-color: white;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
img{
    position:absolute;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
/* img{
    position: absolute;
    width: 2.2rem;
    height: 2.2rem;
    right: 0.55rem;
    top: 0.15rem;
} */
.pacote{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: .2rem solid black;
    width: 35%;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background-color: rgb(170, 230, 70);
}
h2{
    font-size: 1.5rem;
}
.img1 {
    width: 3rem;
    height: 3rem;
    right: 0.55rem;
    top: 1rem;
    top: 0;
    left: 0.5rem;
}
.link{
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
}
.dinheiro{
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
    font-size: 1rem;
}
