html,body{
    height: 100%;
    width: 100%;

}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
.img1{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}
main{
    height: 84.2%;
    display: flex;
    flex-direction: column;

    
}

.pacote{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    position: relative;
    margin: 4rem 0rem 2rem 0rem ;
    padding: 1rem;
    border: .2rem solid black;
    width: 30%;
    border-radius: .5rem;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
    background-color: rgb(170, 230, 70);
}
h2{
    font-size: 1.5rem;
}
.inicio{
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    justify-content: space-between;
    position: relative;
    
    border-bottom: .2rem solid black;
    padding: 1rem;
    padding-left: 0rem;
    font-family: 'Lato', sans-serif;
}
.inicio h1{
    margin-left: 1.5rem;
}
.link{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: 'Playfair Dislay', serif;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.link a{
    text-decoration: none;
    color: rgb(170,230,70);
}
.dinheiro{
    position: absolute;
    bottom: 0.1rem;
    right: 0.5rem;
    font-size: 1rem;
}
footer{
    position: relative;
    background-color: rgb(170,230,70);
    /*margin-top: 0.45rem;*/
    padding:0.5rem 0rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
}
footer a{
    margin: 0rem 0rem 0rem 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
}