html{
    width: 100%;
    height: 100%;
}
/*.celular {
    width: 360px;
    height: 640px;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}*/
body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
.imagem{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}
main a{
    margin: 0rem 1rem;
    text-decoration: none;
    color: black;
}
.foto{
    position: relative;
    height: 2rem;
    align-self: center;
    width: 2rem;
    margin-right: 1.5rem;

}
.bolinha1, .bolinha2, .bolinha3, .bolinha4, .bolinha5, .bolinha6, .bolinha7, .bolinha8, .bolinha9, .bolinha10{
    
    height: 1rem;
    width: 1rem;
    border: .15rem solid rgb(56, 56, 56);
    border-radius: 50%;
    
}


main{
    flex-grow: 1;
    display: flex;
    height: 84.68%;
    flex-direction: column;
}
main h1{
    margin-left: 1.5rem;
}
ul {
    flex-grow: 1;
    overflow-y: scroll;
}

li {
    display:flex;
    flex-direction:row;
    align-self: center;
    justify-content: space-between;
    height: 1rem;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    border-bottom: .1rem solid gray;
    padding: 1.5rem 2rem;
}
form {
    flex-grow: 1;
    margin-top:1.35rem;
    margin-right: 1.35rem;
    margin-left: 1.35rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type=text] {
    width: 100%;
    
    box-sizing: border-box;
    border: 3px solid rgb(240, 133, 44);
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
.inicio{
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    border-bottom: .2rem solid black;
    padding: 1rem;
    padding-left: 0rem;
    font-family: 'Lato', sans-serif;
}
.inicio h1{
    margin-left: 1.35rem;
}

footer{
    position: relative;
    margin-top: 0.75rem;
    background-color: rgb(170,230,70);
    padding:0.5rem 0rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
    
}
footer a{
    margin: 0rem 1.5rem;
    text-decoration: none;
    color: black;
    font-size