html,body{
    width: 100%;
    height: 100%;
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
.botão{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}

h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
}
main{
    height: 83%;
}
a{
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    color: black;
}
h3{
    font-size: 2.5rem;
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
}
.icone{
    margin-right: 0.5rem;
}
.funcionarios, .supermercados{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    border: 0.3rem solid black;
    padding: 1rem;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 2rem;
    background-color: rgb(170, 230, 70);
    border-radius: 0.9rem;
    font-size: 2.3rem;
}
.inicio{
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    justify-content:space-evenly;
    /* align-self: flex-start; */
    border-bottom: .2rem solid black;
    padding: 1rem;
    padding-left: 0rem;
    font-family: 'Lato', sans-serif;
}
.inicio h1{
    margin-left: 1.35rem;
}
a{
    margin: 0rem 1rem;
    text-decoration: none;
    color: black;
}

footer a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}
footer{
    
    position: relative;
    margin-top: 1.5rem;
    padding:0.5rem 0rem;
    padding-left: 1rem;
    background-color: rgb(170,230,70);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items:flex-end; */
    font-family: 'Lato', sans-serif;    
}