html, main {
    font-size: 16px;
    height: 100%;
}

body {
    background-color: greenyellow;
    
}

header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
.img1{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}
.mercado { 
    font-size: 1.75rem;
}

/* .img1 {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: .3rem;
    left: 0rem;
} */

/* img{
    width: 3rem;
    height: 3rem;
    left: 0.55rem;
    top: 0.3rem;
} */

.stars{
    display: flex;      
    flex-direction: row;
}

.star{
    width: 25px;
    height: 25px;
    left: none;     
    margin: 1px;
    margin-top:1.5px;
    top: 25px;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

.inicio{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-decoration: none;
    margin-left: 1rem;
    padding: 1rem;
    padding-left: 0rem;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

.abas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.aba{
    display:block;
    position: relative;
    margin: 1rem;
    /* border: .2rem solid black; */
    /* padding: 1rem 1rem 1rem 4rem; */
    font-size: 2rem;
    text-decoration: none;
    /* border-radius: .5rem; */
    width: 30%;
    font-family: 'Lato', sans-serif;
    /* background-color: rgb(170, 230, 70); */
}