html,body{
    height: 100%;
    width: 100%;
}
header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    border-bottom: .01rem solid black;
    box-shadow: 0px 0px 5px gray;
    color: rgb(170, 230, 70)
}
.img1{
    position:absolute;
    top: 0;
    left: 1.35rem;
    width: 3rem;
    height: 3rem;
}
main{
    display: flex;
    flex-direction: column;
    height: 84.2%;

    
    /* align-items: center; */
}

.inicio{
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    border-bottom: .2rem solid black;
    padding: 1rem;
    padding-left: 0rem;
    font-family: 'Lato', sans-serif;
}
.inicio h1{
    margin-left: 1.35rem;
}

.abas{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}
.aba{
    
    display: flex;
    margin-top: 1.5rem;
    border: 0.2rem solid black;
    padding: 1rem 1rem;
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: 1rem;
    background-color: rgb(170, 230, 70);
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border-radius: .5rem;
    align-content: left;
    width:30%;
    align-self: center;
    justify-content: left;
    align-items: center;
}
.aba a{
    padding-left: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}

footer{
    position: relative;
    /*margin-top: 1rem;*/
    background-color: rgb(170,230,70);
    padding:0.5rem 0rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:flex-end;
    align-items: center;
    font-family: 'Lato', sans-serif;
    
    
}
footer a{
    margin: 0rem 1.5rem;
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
}